<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
	<div class="row">
		<div class="col-sm-12">
			<div class="ibox float-e-margins">
				<div class="ibox-content">
					<form class="form-horizontal m-t" id="signupForm">
						<div class="form-group">
							<label class="col-sm-2 control-label">提单号：</label>
							<div class="col-sm-4">
								<input id="ladingBillNo" name="ladingBillNo" class="form-control" type="text">
							</div>

							<label class="col-sm-2 control-label">航班号：</label>
							<div class="col-sm-4">
								<input id="flightNo" name="flightNo" class="form-control" type="text">
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-2 control-label">票数：</label>
							<div class="col-sm-4">
								<input id="packageNo" name="packageNo" class="form-control" type="text">
							</div>

							<label class="col-sm-2 control-label">模式：</label>
							<div class="col-sm-4">
								<input id="logisticsType" name="logisticsType" class="form-control" type="text">
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-2 control-label">提货日期：</label>
							<div class="col-sm-4">
								<input type="text" class="laydate-icon layer-date form-control" id="pickupDate" name="pickupDate"  placeholder="请选择提货时间"
									   onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" style="background-color: #fff;" readonly="readonly"/>
							</div>

							<label class="col-sm-2 control-label">到场日期：</label>
							<div class="col-sm-4">
								<input type="text" class="laydate-icon layer-date form-control" id="turnupDate" name="turnupDate"  placeholder="请选择到场时间"
									   onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" style="background-color: #fff;" readonly="readonly"/>
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-2 control-label">清关日期：</label>
							<div class="col-sm-4">
								<input type="text" class="laydate-icon layer-date form-control" id="cleanDate" name="cleanDate"  placeholder="请选择清关时间"
									   onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" style="background-color: #fff;" readonly="readonly"/>
							</div>

							<label class="col-sm-2 control-label">放行：</label>
							<div class="col-sm-4">
								<input id="release" name="release" class="form-control" type="text">
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-2 control-label">查检：</label>
							<div class="col-sm-4">
								<input id="check" name="check" class="form-control" type="text">
							</div>

							<label class="col-sm-2 control-label">异常：</label>
							<div class="col-sm-4">
								<input id="odd" name="odd" class="form-control" type="text">
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-2 control-label">清关口岸ID：</label>
							<div class="col-sm-4">
								<input id="portId" name="portId" class="form-control" type="text">
							</div>

							<label class="col-sm-2 control-label">快递公司ID：</label>
							<div class="col-sm-4">
								<input id="expressId" name="expressId" class="form-control" type="text">
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-2 control-label">快递公司编码：</label>
							<div class="col-sm-4">
								<input id="express" name="express" class="form-control" type="text">
							</div>

							<label class="col-sm-2 control-label">客户ID：</label>
							<div class="col-sm-4">
								<input id="customerId" name="customerId" class="form-control" type="text">
							</div>
						</div>




						<div class="form-group">
							<div class="col-sm-8 col-sm-offset-3">
								<button type="submit" class="btn btn-primary">提交</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/js/appjs/common/expressOrder/add.js">
</script>
<script type="text/javascript" src="/js/plugins/layer/laydate/laydate.js" ></script>
</body>
</html>
