<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header">
	<link rel="stylesheet" href="/js/plugins/layer/laydate/skins/default/laydate.css" />
	<link href="/css/plugins/jsTree/style.min.css" rel="stylesheet">
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
	<div class="row">
		<div class="col-sm-12">
			<div class="ibox float-e-margins">
				<div class="ibox-content">
					<form class="form-horizontal m-t" id="signupForm">
						<div class="form-group">
							<label class="col-sm-2 control-label">总运单号：</label>
							<div class="col-sm-2">
								<input id="totalWaybillNo" name="totalWaybillNo" class="form-control">
							</div>


							<label class="col-sm-2 control-label">提单号：</label>
							<div class="col-sm-2">
								<input id="ladingBillNo" name="ladingBillNo" class="form-control" type="text">
							</div>

							<label class="col-sm-2 control-label">航班号：</label>
							<div class="col-sm-2">
								<input id="flightNo" name="flightNo" class="form-control" type="text">
							</div>

						</div>

						<div class="form-group">


							<label class="col-sm-2 control-label">模式：</label>
							<div class="col-sm-2">
								<select id="logisticsType"  name="logisticsType" class="form-control" >
									<option VALUE="1">BC</option>
									<option VALUE="2">CC</option>
								</select>
							</div>


							<label class="col-sm-2 control-label">快递公司：</label>
							<div class="col-sm-2">
								<input id="expressCompany" name="expressCompany" class="form-control" type="text">
							</div>

							<label class="col-sm-2 control-label">提货日期：</label>
							<div class="col-sm-2">

								<input type="text" class="laydate-icon layer-date form-control" id="pickupDate" name="pickupDate"  placeholder="请选择提货日期"
									   onclick="laydate({istime: true, format: 'YYYY-MM-DD hh'})" style="background-color: #fff;" readonly="readonly"/>
							</div>
						</div>

						<div class="form-group">


							<label class="col-sm-2 control-label">到场日期：</label>
							<div class="col-sm-2">
								<input type="text" class="laydate-icon layer-date form-control" id="turnupDate" name="turnupDate"  placeholder="请选择到场日期"
									   onclick="laydate({istime: true, format: 'YYYY-MM-DD hh'})" style="background-color: #fff;" readonly="readonly"/>
							</div>


							<label class="col-sm-2 control-label">清关日期：</label>
							<div class="col-sm-2">
								<input type="text" class="laydate-icon layer-date form-control" id="cleanDate" name="cleanDate"  placeholder="日期"
									   onclick="laydate({istime: true, format: 'YYYY-MM-DD hh'})" style="background-color: #fff;" readonly="readonly"/>

							</div>

							<label class="col-sm-2 control-label">备注：</label>
							<div class="col-sm-2">
								<textarea id="cleanRemark" name="cleanRemark" class="form-control" type="text"></textarea>
							</div>

						</div>

						<div class="form-group">
								<label class="col-sm-2 control-label">放行：</label>
								<div class="col-sm-2">
									<input id="release" name="release" class="form-control" type="text">
								</div>

								<label class="col-sm-2 control-label">国检：</label>
								<div class="col-sm-2">
									<input id="nationalInspection" name="nationalInspection" class="form-control" type="text">
								</div>


								<label class="col-sm-2 control-label">海关：</label>
								<div class="col-sm-2">
									<input id="customs" name="customs" class="form-control" type="text">
								</div>
						</div>


						<div class="form-group">
							<label class="col-sm-2 control-label">联合：</label>
							<div class="col-sm-2">
								<input id="unity" name="unity" class="form-control" type="text">
							</div>

							<label class="col-sm-2 control-label">异常：</label>
							<div class="col-sm-2">
								<input id="odd" name="odd" class="form-control" type="text">
							</div>

							<label class="col-sm-2 control-label">无数据：</label>
							<div class="col-sm-2">
								<input id="nodata" name="nodata" class="form-control" type="text">
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-2 control-label">客户：</label>
							<div class="col-sm-2">
								<div id = "cusId" ></div>
								<input id = "customerId" name="customerId" type="hidden">
							</div>

						</div>
						<div class="form-group">
							<div class="col-sm-2 col-sm-offset-6">
								<button type="submit" class="btn btn-primary">提交</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/js/appjs/common/expressOrder/add.js">
</script>
<script src="/js/plugins/jsTree/jstree.min.js"></script>
<script type="text/javascript" src="/js/plugins/layer/laydate/laydate.js" ></script>
</body>
</html>
