<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ifast.expressOrder.dao.CheckOrderDao">
    <insert id="addData" parameterType="CheckOrderDO"  >
    insert into tb_check_order
        (receiver_date
        ,waybill_no
        ,province
        ,city
        ,post_office
        ,bubble_weight
        ,weight
        ,bill_postage
        ,receiver)
    values
    <foreach collection="cos" item="co" separator=",">

        (#{co.receiverDate}
        ,#{co.waybillNo}
        ,#{co.province}
        ,#{co.city}
        ,#{co.postOffice}
        ,#{co.bubbleWeight}
        ,#{co.weight}
        ,#{co.billPostage}
        ,#{co.receiver})

    </foreach>
    </insert>



</mapper>