<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div>
                        <input type="text" class="hidden" id="ids" th:value="${ids}">
                    </div>
                        <div class="form-group" >
                            <label class="col-sm-5">
                                <h4 style="color:red" >tips:请先勾选商品再提交</h4>
                                <button type="button" class="btn  btn-primary" onclick="add()">
                                    <i class="fa fa-plus" aria-hidden="true"></i>添加
                                </button>
                                <button type="btn" onclick="transfer()" class="btn  btn-primary">
                                   提交
                                </button>

                            </label>

                            <table  data-mobile-responsive="true" id="tab" ></table>

                        </div>

                 </div>


                </div>
            </div>
        </div>
    </div>
    <div>
        <script type="text/javascript">
            var s_edit_h = 'hidden';
            var s_remove_h = 'hidden';
        </script>
        <div>
            <script type="text/javascript">
                s_edit_h = '';
            </script>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/js/appjs/common/expressDelivery/product.js">
</script>
</body>
</html>
