<!DOCTYPE html>
<html lang="en">
<head th:include="include :: header">
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/js/plugins/layer/laydate/skins/default/laydate.css" />
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content " >
    <div class="col-sm-12">
        <div class="ibox">
            <div class="ibox-body">
                <div class="fixed-table-toolbar">
                    <div class="columns pull-left">
                        <button  type="button" class="btn  btn-primary" onclick="editStatus()">
                           确认清关
                        </button>
                    </div>
                    <div class="columns pull-right">
                        <button class="btn btn-success" onclick="reLoad()">查询</button>
                    </div>
                    <div class="columns pull-right col-md-2 nopadding">
                        <input id="searchName" type="text" class="form-control"
                               placeholder="总运单号、提单、快递单号">

                    </div>
                </div>

                <table id="exampleTable"  data-mobile-responsive="true">
                </table>

            </div>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script type="text/javascript" src="/js/appjs/common/expressOrder/todo.js"></script>
<script type="text/javascript" src="/js/plugins/layer/laydate/laydate.js" ></script>
</body>
</html>