<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="id" name="id" th:value="${customerInfo.id}"  type="hidden">
							<div class="form-group">	
								<label class="col-sm-2 control-label">客户名称：</label>
								<div class="col-sm-4">
									<input id="customerName" name="customerName" th:value="${customerInfo.customerName}" class="form-control" type="text">
								</div>
								<label class="col-sm-2 control-label">联系人姓名：</label>
								<div class="col-sm-4">
									<input id="personName" name="personName" th:value="${customerInfo.personName}" class="form-control" type="text">
								</div>

							</div>
													<div class="form-group">
								<label class="col-sm-2 control-label">联系人手机电话：</label>
								<div class="col-sm-4">
									<input id="personTel" name="personTel" th:value="${customerInfo.personTel}" class="form-control" type="text">
								</div>

								<label class="col-sm-2 control-label">联系人职位：</label>
								<div class="col-sm-4">
									<input id="personPosition" name="personPosition" th:value="${customerInfo.personPosition}" class="form-control" type="text">
								</div>
							</div>

														<div class="form-group">	
								<label class="col-sm-2 control-label">地区：</label>
								<div class="col-sm-4">
									<input id="area" name="area" th:value="${customerInfo.area}" class="form-control" type="text">
								</div>

								<label class="col-sm-2 control-label">通讯地址：</label>
								<div class="col-sm-4">
									<input id="relationArea" name="relationArea" th:value="${customerInfo.relationArea}" class="form-control" type="text">
								</div>
							</div>

														<div class="form-group">	
								<label class="col-sm-2 control-label">邮箱：</label>
								<div class="col-sm-4">
									<input id="eMail" name="eMail" th:value="${customerInfo.email}" class="form-control" type="text">
								</div>

								<label class="col-sm-2 control-label">传真：</label>
								<div class="col-sm-4">
									<input id="facsimile" name="facsimile" th:value="${customerInfo.facsimile}" class="form-control" type="text">
								</div>
							</div>

														<div class="form-group">	
								<label class="col-sm-2 control-label">邮编：</label>
								<div class="col-sm-4">
									<input id="zipcode" name="zipcode" th:value="${customerInfo.zipcode}" class="form-control" type="text">
								</div>

								<label class="col-sm-2 control-label">录入日期：</label>
								<div class="col-sm-4">
									<input id="indate" name="indate" th:value="${customerInfo.indate}" class="form-control" type="text">
								</div>
							</div>
																			<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/common/customerInfo/edit.js">
	</script>
</body>
</html>
